.fw-bolder {
  font-weight: 800 !important;
}

.team-card {
  background: #f2f5ff;
}

.getting-started {
  background: #2d3e50;

  .docs {
    margin-top: 12px;
    a {
      color: white;
      font-size: 18px;
      margin-top: 8px;
      font-weight: 500;
    }
  }
}

.md-card {
  border-radius: 22px;
  padding: 22px;
}
