.mail-user {
  text-decoration: none !important;
  background: #f1f1f1;
  border-radius: 12px;
  padding: 0 8px;
  color: black;
  font-weight: 500;
  font-size: 16px;
  transition: all .2s;

  &:hover {
    background: #dcdcdc;
  }
}

.btn {
  background: white;
  padding: 12px 18px;
  border: 2px solid #2d3e50;
  color: black;
  border-radius: 30px;
  margin: 0 8px;

  svg {
    fill: #2d3e50;
  }

  &:hover {
    background: #2d3e50;
    color: white;

    svg {
      fill: white;
    }
  }
}

.fw-bolder {
  font-weight: 800 !important;
}

.team-card {
  background: #EFF7FB;
}

.getting-started {
  background: #2d3e50;

  .docs {
    margin-top: 12px;
    a {
      color: white;
      font-size: 18px;
      margin-top: 8px;
      font-weight: 500;
    }
  }
}

.md-card {
  border-radius: 22px;
  padding: 34px;
}
