.btn {
  background: white;
  padding: 12px 18px;
  border: 2px solid #2d3e50;
  color: black;
  border-radius: 30px;
  margin: 0 8px;

  &:hover {
    background: #2d3e50;
    color: white;
  }
}

.fw-bolder {
  font-weight: 800 !important;
}

.team-card {
  background: #c0c3cf2e;
}

.getting-started {
  background: #2d3e50;

  .docs {
    margin-top: 12px;
    a {
      color: white;
      font-size: 18px;
      margin-top: 8px;
      font-weight: 500;
    }
  }
}

.md-card {
  border-radius: 22px;
  padding: 22px;
}
