<!DOCTYPE html>
<html>
  <%- include('partials/head', {title: template('branding.prettyName'), formatUrl, pathPrefix}) %>
  <body>

    <div id="main-search-page">
      <div class="main-item">

        <%- include('partials/search', {style: 'homepage', focus: 'autofocus', msgOnFocus: template('search.placeholder'), formatUrl}) %>

        <div class="featured-cat">
          <% if (modules.length) { 
            modules.forEach((module, i, all) => {
          %>
            <%- include('partials/landingModule', module) %>
          <%  })  
          } else { %>
          <!-- Eventually we might display a warning here about why this space is empty. -->
          <% } %>
        </div>

      </div>
      <%- include('partials/footer', {style: 'homepage', pageType: 'homepage', formatUrl}) %>
    </div>
  </body>
</html>
